<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @craft.number %>
</p>

<p>
  <strong>Year:</strong>
  <%= @craft.year %>
</p>

<p>
  <strong>Status:</strong>
  <%= @craft.status %>
</p>

<p>
  <strong>Time:</strong>
  <%= @craft.time %>
</p>

<p>
  <strong>Entered:</strong>
  <%= @craft.entered %>
</p>

<p>
  <strong>User:</strong>
  <%= @craft.user %>
</p>

<%= link_to 'Edit', edit_craft_path(@craft) %> |
<%= link_to 'Back', crafts_path %>
