<% @page_title = "Change Password" -%>
<div class= "Sign_Form">
  <h1>Change Password</h1>
  <%= form_tag(:action => 'change_password_attempt') do %>
    <p>Password:</br> <%= password_field_tag :login_password %></p> 
    <p>New Password:</br> <%= password_field_tag(:new_password) %></p> 
    <p>New Password Confirmation:</br> <%= password_field_tag(:password_confirmation) %></p> 
    <%= submit_tag("Change") %>
  <% end %>
</div>
