<h1>Checkpoint <%= @checkpoint %> </h1>

<table class="table table-striped table-bordered" >
  <tr class="info1" >
    <% (1..@display[0].size).each do |column| %>
      <th class="infoheader">
        Can
      </th>
      <th class="infoheader">
        In
      </th>
      <th class="infoheader">
        Out
      </th>
    <% end %>
  </tr>
  <% @display.each do |array| %>
    <tr class="info1" >
      <% array.each do |num, hash| %>
        <td class="infoheader">
          <%= num %>
        </td>
        <% if hash.key?('IN')
             text = hash['IN']['time'] 
             myclass = hash['IN']['status'] 
           else
             text = '&nbsp;'.html_safe
             myclass = 'BLANK'
        end %>
        <td class="<%= myclass %>" >
              <%= text.html_safe %>
        </td>
        <% if hash.key?('OUT')
             text = hash['OUT']['time'] 
             myclass = hash['OUT']['status'] 
           else
             text = '&nbsp;'
             myclass = 'BLANK'
        end %>
        <td class="<%= myclass %>" >
              <%= text.html_safe %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
