<!DOCTYPE html>
<html>
  <head>
    <% title = if (defined? @page_title).nil?
                 'Raceday'
               else
                 @page_title
               end
    %>
    <% unless (defined? @refresh).nil?
      url = ''
      url = '; URL=' + @url unless (defined? @url).nil? 
     %>
      <META http-equiv="refresh" content="<%= @refresh %>" <%= url %> />
    <% end %>
    <title><%= title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
